@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;} 
html{ font-size:310%;}
body{-webkit-text-size-adjust:100%;font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif; color:#333;}
article， aside， details， figcaption， figure， footer， header， hgroup， menu， nav， section { display: block; }
a{ text-decoration: none; display:inline-block; color:#333;-webkit-tap-highlight-color:transparent;}
img{ border:none;}
<!--a,img{-webkit-touch-callout:none}  -->   
span{display:inline-block;} 
ul{ list-style:none; overflow:hidden;}
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }.clearfix{zoom:1;}
header{ background:#24c3a3 url(../images/baike.png) no-repeat center center; background-size:1.42rem 0.57rem; height:0.8rem; text-align:center; position:relative;}
header>a{ height:0.8rem; width:0.48rem;}
header >a:first-child{  background:url(../images/logo.png) no-repeat center center;background-size:100%; position:absolute; left:0.19rem; top:0; width:0.52rem;}
header >a:last-child{  background:url(../images/thr.png) no-repeat center center; background-size:90%; position:absolute; right:0.19rem; top:0;}
.nav{ margin:0 10%; width:80%;height:0.8rem; line-height:.8rem; overflow:hidden;}
.nav a{ float:left; color:#fff; font-size:.34rem; width:16.6%; text-align:center;height:0.8rem; line-height:.8rem;}
/*头部导航*/
.heabar{ position:absolute; left:0; top:0.8rem; background:#434445; z-index:1000; font-size:0.31rem; width:100%;}
.heabar a{ color:#fff;}
.shona,.info{ overflow:hidden;}
.shona a{ float:left; width:21%; margin:0.38rem 2% 0.45rem 2%; text-indent:0.55rem; height:0.56rem; line-height:0.56rem; border-radius:12px;}
.shona a:first-child{ background:#08866d url(../images/hel_01.png) no-repeat 0.2rem center; background-size:0.3rem 0.32rem;}
.shona a:nth-child(2){ background:#08866d url(../images/hel_02.png) no-repeat 0.2rem center; background-size:0.33rem 0.32rem;}
.shona a:nth-child(3){ background:#08866d url(../images/hel_03.png) no-repeat 0.2rem center; background-size:0.33rem 0.32rem;}
.shona a:last-child{ background:#08866d url(../images/hel_04.png) no-repeat 0.2rem center; background-size:0.33rem 0.32rem;}
.heabar h3{ width:95%; margin:0 auto 0.33rem auto; text-align:center; border-bottom:1px solid #5a5a5a; border-top:1px solid #2d2e30; font-size:0.28rem; color:#767778; letter-spacing:1px; position:relative;}
.heabar h3 span{ position:absolute; top:-0.2rem; background:#434445; width:0.9rem; left:50%; margin-left:-.48rem;}
.info{ width:95%; margin:0 auto;}
.info a{ float:left; width:20%; text-align:center; margin-bottom:0.34rem; font-size:0.32rem;}
.login{ text-align:center; margin-bottom:0.35rem;}
.login a{ font-size:0.3rem; color:#d5d5d5; background:#5e5e5e; padding:0.1rem 0.53rem; margin:0 2.5%; border-radius:2px; letter-spacing:1px;}
.heabar:after{ content:""; position:absolute; right:0.27rem; top:-11px;border-color:transparent transparent #434445 transparent; border-width:6px; border-style:solid; width:0; height:0; line-height:0; z-index:500;}
nav{ border-bottom:1px solid #e1e1e1; font-size:.3rem;color:#999; padding-left:.19rem;}
nav a{color:#999; height:.75rem; line-height:.75rem;}
nav span{ margin:0 .05rem;}
.adv{ margin:.3rem 0; text-align:center;}
.adv img{ width:100%; display:block;}
.detai{ overflow:hidden; margin-bottom:.4rem;}
.detai a{ float:left; width:46.75%; margin-bottom:.2rem; overflow:hidden; border-radius:6px; position:relative; height:2.8rem;}
.detai a:nth-child(odd){ margin:0 1.5% .2rem 2.5%;}
.detai a img{  width:100%; height:2.8rem; border-radius:6px;}
.detai a p{ position:absolute; left:0; bottom:0; width:95%; margin:0 auto; text-align:center;background:rgba(0,0,0,0.5); padding:0 2.5%; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; font-size:.3rem; color:#fff; height:.54rem; line-height:.54rem}
















footer{ padding-bottom:0.3rem;}
footer div{ background:#f4f5f6; height:0.74rem; line-height:0.74rem; overflow:hidden; padding:0 0.5rem; margin-bottom:0.3rem;}
footer div a{ float:left; width:25%; text-align:center; font-size:0.32rem; color:#666;}
footer p{ text-align:center; font-size:0.3rem; color:#999; margin-top:0.15rem;}
footer p a{ margin:0 .1rem;}
.shay{ display:block;}
.disn{ display:none;}
.heabar span.arrow{ width:100%; height:.45rem; background:#fff url(../images/ar_01.png) no-repeat center center; background-size:1.2rem 100%; display:block;}
a.retop{ position:fixed; right:.3rem; bottom:.3rem; background:#000 url(../images/retop.png) no-repeat center center; display:block; border-radius:100%; background-size:55% 30%; opacity:.6; width:.75rem; height:.75rem; z-index:999;}